    <body style="margin-left: 10%; width: 80%; ">
        <div style="text-align: left;">
            <h2 style="text-align:center">Matan Israeli</h2><br>
            <br>
        </div>
        <table id="texttable" >
            <tbody>
                <tr>
                    <td style="width: 20%;">
                        Address:
                    </td>
                    <td>
                        21hayin Chet st. Musrara, Jerusalem
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone:
                    </td>
                    <td>
                        972.524.678.155
                    </td>
                </tr>
                <tr>
                    <td>
                        Website:
                    </td>
                    <td>
                        www.unateazy.com
                    </td>
                </tr>
                <tr>
                    <td>
                        Mail:
                    </td>
                    <td>
                        unateazy@yahoo.com
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: left; ">
            <br>
            <br>
            <h3 style="text-align:center">Education:</h3><br>
        </div>
        <table id="texttable">
            <tbody>
                <tr>
                    <td style="width: 20%;">
                        2005-2008
                    </td>
                    <td>
                        BFA from Bezalel academy for arts and design
                    </td>
                </tr>
                <tr>
                    <td>
                        2007
                    </td>
                    <td>
                        San Carlos academy of fine arts,Valencia polytechnic , exchange program.
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: left;">
            <br>
            <h3 style="text-align:center">Awards:</h3><br>
        </div>
        <table id="texttable">
            <tbody>
                <tr>
                    <td style="width: 20%;">
                        2008
                    </td>
                    <td style="width: 663px;">
                        Bank leumi prize for excelling exhibition – trap/door
                    </td>
                </tr>
                <tr>
                    <td style="width: 102px;">
                        2007
                    </td>
                    <td style="width: 663px;">
                        Herman Shtrok prize for printing work
                    </td>
                </tr>
                <tr>
                    <td style="width: 102px;">
                        2006
                    </td>
                    <td style="width: 663px;">
                        Winner of "Ein Lezion" photography competition, 1st prize.
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: left;">
            <br>
           <h3 style="text-align:center"> Solo Exhibitions:</h3><br>
        </div>
        <table id="texttable">
            <tbody>
                <tr>
                    <td style="width: 20%;">
                        2010
                    </td>
                    <td>
                        Naser \ El-Bahu - Jerusalem art center, musrara
                    </td>
                </tr>
                <tr>
                    <td>
                        2009
                    </td>
                    <td>
                        Route no. 1&gt; board, tower, house, tree, flags and stairs , shay arye gallery, Tel Aviv and a route in Musrara neighborhood, Jerusalem.
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: left;">
            <br>
           <h3 style="text-align:center"> Group Exhibitions:</h3><br>
        </div>
        <table id="texttable">
            <tbody>
                <tr>
                    <td style="width: 20%;">
                        2008
                    </td>
                    <td>
                        trap/door - Bezalel arts academy.
                    </td>
                </tr>
                <tr>
                    <td>
                        2008
                    </td>
                    <td>
                        in transition Russia 2008, National Centers for contemporary Arts, NeMe, Moscow and Ekaterinburg.
                    </td>
                </tr>
                <tr>
                    <td>
                        2007
                    </td>
                    <td>
                        Desert generation, artist house-jerusalem, The Kibutz Gallery-tel aviv
                    </td>
                </tr>
                <tr>
                    <td>
                        2006
                    </td>
                    <td>
                        VidoZone3, Israel biannual for video art.
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                    <td>
                        Ein Lezion – photography exhibition, Jerusalem
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                    <td>
                        Bojule –selected young artist exhibition at the Lab, Jerusalem.
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div style="text-align: left;">
            <br>
            <h3 style="text-align:center">Curating:</h3><br>
        </div>
        <table id="texttable">
            <tbody>
                <tr>
                    <td style="width: 20%;">
                        2008-2009
                    </td>
                    <td>
                        loach project, street billboard painting (www.paintwall78.blogspot.com)
                    </td>
                </tr>
                <tr>
                    <td>
                        2008-2009
                    </td>
                    <td>
                        the other screen projection events at museum on the seam
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: left;">
            <br>
            <h3 style="text-align:center">Selected productions:</h3><br>
        </div>
        <table id="texttable">
            <tbody>
                <tr>
                    <td>
                        2008
                    </td>
                    <td>
                        Survival of the fittest, Alain Tasma – artman
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                    <td>
                        The copper scrolls secrets – travel channel – field producer
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%;">
                        2007
                    </td>
                    <td>
                        The cities of the underworld – american history channel - field producer
                    </td>
                </tr>
                <tr>
                    <td>
                        2006
                    </td>
                    <td>
                        Hound dog - artman
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: left;">
            <br>
            &nbsp;<br>
            <br>
        </div>
    </body>