<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>
            Bridging the gap On the work of Matan Israeli/ On works by Matan Israeli
        </h2>
        <p>
            In the yard in front of Matan Israeli's house in Jerusalem's Musrara neighborhood a home-made guard-tower was recently erected, constructed of materials found in the street or left over from the artist's earlier works. On top of the tower loudspeakers activate every hour, playing recordings of poets reading their own poems, made especially for the exhibition.. The new tower joins a host of older ones in the area- guard towers to the east, commercial towers to the west and near by church steeples and the minarets of mosques. The poems emanating from the tower join the concert of church bells and muezzin calls, against the backdrop of sound from the bustling roads and nearby streets.
        </p>
        <p>
            The guard/poetry tower is the second stop on the artistic trail created for this exhibition, the other part of which is a catalogue of the work in Jerusalem, displayed in a Tel Aviv gallery. The gallery is also the starting point of the trail, which ends on the main road in Jerusalem. The ascent to Jerusalem becomes in this instance a descent- from the white space in the white city to a gray street in a city tenuously united.
        </p>
        <p>
            The Jerusalem trail begins with a neighborhood notice-board converted to a one wall exhibition space. In the current exhibit the board is painted with a large drawing showing Musrara as viewed from the East, from the No. 1 Road. The dense and detailed drawing begins in empty white space traversed by the stone wall built alongside the road, cutting the historic neighborhood in two- East and West- separating the neighborhood from East Jerusalem beyond the road (/two- Jewish West and Palestinian East). The drawing is meant to help visitors orient themselves, but at the same time presents the problems of the place and the solutions offered by Israeli's work. The drawing examines the conflict in the within the planning, the impossible wish to unite the city but keep its residents separate.
        </p>
        <p>
            Next the trail leads to the guard/poetry tower, and from there to Israeli's apartment, which is an art stop in itself. Here the artist greets visitors and makes room for them in his living space. A large Eucalyptus tree looms through the living room window, at first glance it seems ordinary, but a drawing on one of its stumps and a foreign branch growing out of it transform it into an object of art. The drawing- a nightmarish face- is one way of pointing at a wound and coping with it, the lemon tree growing in the stump is another. Both of them recall works of Israeli conceptual art of the 70's, notably "The Dead Sea Project"- an attempt by artist Pinhas Cohen-Gan to place an artificial fish colony in the dead sea, using plastic pipes filled with fresh water. While Cohen-Gan's work points out the contradictory and doomed nature of such an attempt, the Eucalyptus offers a solution- two symbolic options for dealing with a given situation, one by stressing it and the other by growing out of it. None of the options are an attempt to hide the wound, the stump is left broken while the lemon tree, the implanted local, pours new life into the imported Eucalyptus. Both trees are in some way illegitimate invaders becoming part of local life, drawing from it and fertilizing it at the same time. The building belonged to Arab residents who fled in the 1948 war and the artist's hospitality, as well as his work on the tree, are acts of memorial. The visitor enters the artist's present home following in the footsteps of past residents and encountering suggestions for a future.
        </p>
        <p>
            The third stop on the tour is the way to a parking lot at the end of the street, marked with colorful flags of the sort that sometimes surround open air parking lots. The flags were taken from a storage facility of the American army and the symbols upon them represent damage by nuclear, chemical and biological weapons. Flags like these are used to cordon off disaster areas. Following the flags the visitors come to the last stop on the trail- a home-made wooden staircase connecting the parking lot and the last street of the neighborhood to the main road and to Damascus gate. This is the second staircase Israeli built here, the first was destroyed after successfully serving the local population on both sides, as well as many tourists making their way to the old city. Two video pieces document the staircase's presence in the fabric of neighborhood life. The first shows pedestrians using the steps, in the second they stop short, puzzled, searching for the demolished staircase. The words "I Miss You" are inscribed in red paint on an electrical box beside the stairs, addressed to a far away lover or to the near but distant old city.
        </p>
        <p>
            The wooden staircase is not "useful art" but "artistic usefulness". Like other exhibits along the trail, it too seeks to intervene symbolically in the artist's environment, invading it and blending in with the surrounding, taking something away and at the same time making a contribution. Israeli commandeers the neighborhood notice board to point out that which the neighborhood is not aware of, he offers the injured tree a new "organic" solution and "disrupts" public architecture to serve the public. His is an art of involvement an attempt to bridge gaps, one that Jerusalem needs now more than ever.
        </p>
    </body>
</html>
